body {
    margin: 0;
    background-color: white;
}
/* adds my background color to the top navigation */

.topnav {
    background-color: rgba(51, 51, 51, 0);
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

/* changes the color of the text in my nav bar*/
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: rgba(219, 126, 0, 0.7);
    border: 2px solid white;
    border-radius: 7px;
    margin-right:4px;
    box-shadow: 3.5px 3.5px #f8f87c;
   
}

.topnav a:hover {
    background-color: rgba(239, 172, 65, 0.99);
    color: ghostwhite;
}


/* adds a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

div {
    height: 840px;
    width: 100%;
/*    border-bottom-color: white;*/
}

#HOME {
    background-color: black;
}

}
#HIPHOP {
    background-color: maroon;
}

.hiphop{
    background-color: maroon;
}

/*
.hiphop_bg{
    background-color: white;
    height: 420px; 
    width: 500px;
}
*/
#ATHLETES {
    background-color: orange;
 
    
}

#SLIDESHOW {
    background-color: maroon;
}

    #slide_canvass{
        background-color: whitesmoke;
        opacity: .5;
    
}
#CONTACT {
    background-color: orange;
}


.video-background{
    z-index:-1;
}
